body {
    margin: 0;
    width: 100%;
    font-family: Arial, sans-serif;
}

main {
    display: flex;
    justify-content: space-between; 
    align-items: stretch;
    gap: 20px;
    padding: 20px;
    max-width:  95%;
    margin: 0 auto;
}

app-post-create, app-post-list {
    flex: 1; 
    padding: 20px;
}


  
