.mat-card{
    height: 100vh;
}
textarea {
    border: 2px solid #ccc;
    border-radius: 3px;
    background-color: #ffffff;
    padding: 20px;
    text-align: center;

}

button {
    width: 20%;
    padding: 10px 20px;
    background-color: #FFCDD2;
    border: none;
    border: 1px solid #ffffff;
    border-radius: 4px;
    font-size: 20px;
}


form {
    display: flex;
    flex-direction: column;
    padding: 20px;

}
